<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CTM.Common.BuildingBlocks" version="0.1.18.30623" targetFramework="net45" />
  <package id="CTM.Common.Logging" version="0.1.17.13951" targetFramework="net45" />
  <package id="CTM.Domain.Core" version="0.1.328.20237" targetFramework="net45" />
  <package id="CTM.Messaging.Core" version="0.1.14.19175" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.8.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.5" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.0.4" targetFramework="net45" />
  <package id="retlang" version="1.0.6.0" targetFramework="net45" />
</packages>